<h2>{{ poll.question_text }}</h2>
<p> {{ poll.instruction_text }}</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="id_captcha" name="captcha">
    <button type="submit">Submit</button>
</form>
<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ RECAPTCHA_PUBLIC_KEY }}', {action: 'submit_form'}).then(function(token) {
            document.getElementById('id_captcha').value = token;
        });
    });
</script>
